body{
    background-color: darkslategrey;
    padding: 20px;
}

div{
    border: 2px solid white;
    background-color: darkslategrey;
    padding: 10px;
}

#gridContainer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#gridItem1{
    background-color: orange;
    grid-template-columns: 1;
    grid-template-rows: 1 / 4;
}

#gridItem2{
    background-color: green;
    grid-template-columns: 2;
    grid-template-rows: 1/ 2;
}